<h4>Daftar Peserta Ujian </h4>
    <% if (student.length <1) { %>
        <p>Belum ada mahasiswa yang terdaftar..</p>
        <% } else { %>
            <% student.forEach(element=> { %>
                <ul>
                    <li>Name: <%= element.name %>
                    </li>
                    <li>Email: <%= element.email %>
                    </li>
                    <li>time: <%= time %>  </li>
                </ul>
                <% }) %>
        <%} %>
