<div class="container">
    <div class="row">
        <div class="col text-center">
            <img 
            src='img/dika.JPG' alt='dika' 
            class="img-thumbnail rounded-circle" 
            width="200"
            />
            <h1 class='display-4'>Guitherez Mahardika</h1>
            <p class="lead">Student</p>
        </div>
    </div>
</div> 