<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No Hp</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% let no = 1 %> 
                    <% contacts.forEach((contact,i) => { 
                        %>
                        <tr>
                            <th scope="row"><%= no++ %> </th>
                            <td><%= contact.nama %>  </td>
                            <td><%= contact.hp %> </td>
                            <td>
                                <a href="/contact/ <%= contact.nama %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
                            </td>
                        </tr>
                     
                    <% }) %>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


