<!-- <%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

    <h1>Hello World</h1>
    <p>Welcome to HTML..ABOUT <%= fungsi %> </p>
<%- include('layouts/footer') %>  -->

<h1>Hello World</h1>
<p>
    Welcome to HTML..ABOUT <%= fungsi %>
</p>